@keyframes moveToRight {
    from {
        opacity: 0;
        transform: translateX(-6rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToLeft {
    from {
        opacity: 0;
        transform: translateX(6rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes toBottom {
    from {
        transform: translateY(1.5rem);
        opacity: 0;
    }

    to {
        transform: translateY((0));
        opacity: 1;
    }
}