@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --Light-green: #7ed56f;
    --Medium-green: #55c57a;
    --Dark-green: #28b485;
    --light-bg: #eee;

    --dark-txt: #526452;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {

    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
}

p {
    font-size: 1.6rem;
    margin: 1rem 0 2rem 0;
    font-family: "Open Sans", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", serif;
}

h4 {
    font-size: 1.8rem;
    color: var(--dark-txt);
}

img{
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right, #7ed56fb2, #28b4858e), url(./../img/hero.jpeg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;

}

.section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to left, var(--Dark-green), var(--Light-green));
    display: inline-block;
    text-align: center;
    width: 100%;
    background-clip: text;
    color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 8rem;
    transition: all 300ms;
}

.section-title:hover {
    transform: skew(15deg, 1deg);
}

.btn-secondary {
    font-size: 1.5rem;
    color: var(--Medium-green);
    text-decoration: none;
    border-bottom: 1px solid var(--Medium-green);
    display: inline-block;
    padding: 1rem 0;
    transition: all 0.3s;
    backface-visibility: hidden;

    &:hover {
        font-size: 1.6rem;
        border-bottom: 2px solid var(--Medium-green);
    }
}

.header-logo-box {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.header-logo-box .logo {
    height: 2rem;
}

.header-text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading .heading-title {
    display: block;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.5rem;
    font-size: 4rem;
    font-weight: 400;
    animation-name: moveToRight;
    animation-duration: 1s;
    backface-visibility: hidden;
}

.heading .heading-subtitle {
    display: block;
    text-transform: uppercase;
    color: white;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    animation-name: moveToLeft;
    animation-duration: 1s;
    backface-visibility: hidden;
}

@keyframes moveToRight {
    from {
        opacity: 0;
        transform: translateX(-6rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToLeft {
    from {
        opacity: 0;
        transform: translateX(6rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn{
    text-decoration: none;
    display: inline-block;
}

.btn-white:link,
.btn-white:visited {
    display: inline-block;
    background-color: #fff;
    color: #777;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    transition: all .3s;~
}

.btn-discover {
    border-radius: 100px;
    text-transform: uppercase;
    position: relative;
    padding: 1rem 2.4rem;
    background-color: white;
    transition: all 300ms;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.btn-discover:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 2rem 0.15rem rgba(0, 0, 0, 0.5);
}

.btn-discover:active {
    transform: translateY(-1px);
    box-shadow: 0 0.25rem 1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.btn-discover::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 6rem;
    transition: all 0.1s;
}

.btn-discover:hover:after {
    transform: scaleX(1.4) scaleY(1.2);
    opacity: 0;
}

.btn-animated {
    animation: toBottom 1s ease-in 300ms;
    animation-fill-mode: backwards;
}

@keyframes toBottom {
    from {
        transform: translateY(1.5rem);
        opacity: 0;
    }

    to {
        transform: translateY((0));
        opacity: 1;
    }
}

/* About Start */

#about {
    background-color: var(--light-bg);
    margin-top: -15vh;
    padding: 25rem 0;
}

.about-content {
    display: flex;
    gap: 2rem;

}

.about-text {
    width: 50%;

}

.about-img {
    width: 50%;

    img {
        width: 55%;
        height: 180px;
    }
}

.about-img {
    position: relative;

    img {
        position: absolute;
        transition: all 300ms;
        backface-visibility: hidden;

        &:first-child {
            top: -2rem;
            left: 0;
        }

        &:nth-child(2) {
            top: 5rem;
            left: 24rem;
        }

        &:last-child {
            top: 12rem;
            left: 5rem;
        }

        &:hover {
            z-index: 99;
            padding: 1rem;
            transform: scale(1.2);
            border: .5rem solid var(--dark-txt);

        }


    }


}

.about-img:hover img:not(:hover) {
    transform: scale(.8);
    opacity: .8;

}

/* About End */

/* feature Start */

#feature {
    background-color: #78968c;
    background-image: linear-gradient(to right, #7ed56fd2, #28b485d3), url('./../img/gal-1.jpeg');
    background-size: cover;
    background-position: center;
    padding: 25rem 0;
    transform: skewY(-5deg);
    margin-top: -6.5rem;
}

#feature>* {
    transform: skewY(5deg);
}

#feature .section-title {
    color: white;
    margin-bottom: 3.5rem;
}



.feature-cards {
    display: flex;
    gap: 5rem;
}

.feature-card-item {
    background-color: rgb(255, 255, 255);
    padding: 5rem 4rem;
    text-align: center;
    transition: all 300ms;
    border-radius: .4rem;
}

.feature-card-item:hover {
    transform: translateY(-2rem);
}

.feature-card-item > i {
    font-size: 5rem;
    display: inline-block;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, var(--Dark-green), var(--Light-green));
    background-clip: text;
    color: transparent;
}

.feature-card-item>h4 {
    margin-bottom: 1.5rem;
}

/* feature End */

/* Tours Start */

#tours {
    margin-bottom: 5rem;
    padding: 15rem 0;
}

.tour-cards {
    padding: 0 20rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.tour-cards .card {
    flex-grow: 1;   
    /* background-color: rgb(146, 108, 108); */
    filter: drop-shadow(2px 2px 3px 2px black);
    text-align: center;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.5));


    .front {
        background-color: white;
        transition: all 500ms;
        perspective: 150rem;
        backface-visibility: hidden;

        .heading{
            position: relative;
            

            img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                    clip-path: polygon(0 0, 100% 0, 100% 150px, 0 100%);
                    mix-blend-mode: darken;
                }

            p{
                position: absolute;
                right: 0;
                bottom: 1rem;
                text-align: right;
                background: linear-gradient(to top, rgba(0, 128, 0, 0.897), rgba(0, 128, 0, 0.788));
                color: white;
                font-size: 2.5rem;
                text-transform: uppercase;
                padding: 1rem;
                /* width: 70%; */

                /* span{
                    box-decoration-break: clone;
                    padding: 1rem 1.5rem;
                    background-color: red;
                } */
            }

        }
        

        .body{
            padding: 2rem 5rem;
        } 
        
    }

    &:hover .front {
        transform: rotateY(180deg);
    }

    .back {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: orangered;
        transform: rotateY(180deg);
        transition: all 500ms;
        perspective: 150rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        .title{
            font-size: 2rem;
        }
        .price{
            font-size: 6rem;
        }

        
    }

    &:hover .back {
        transform: rotateY(0deg);
    }


}


/* Tours End */


/* Customer Start */

#customer{
    
    position: relative;

}

#customer > .container{
    padding: 10rem 0;
    text-align: center;
}

.customer-card{
    padding: 5rem 8rem;
    background-color: #ffffffbd;
    width: 75%;
    overflow: hidden;
    transform: skewX(-15deg);
    margin: auto;
    margin-bottom: 8rem;

    & > * {
        transform: skewX(15deg);
    }

    figure{
        float: left;
        width: 15rem;
        height: 15rem;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        position: relative;
        overflow: hidden;
        margin-right: 2rem;
        border-radius: 50%;
        

        img{
            
            width: 100%;
            height: 100%;
            transform: scale(1.2);
            filter: blur(0) brightness(100%);
            transition: all 300ms;
        }

        figcaption{
            position: absolute;
            transition: all 300ms;
            top: 80%;
            opacity: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-transform: uppercase;
            font-size: 2rem;
        }
    }

    .testimonial{
        h4{
            font-size: 2.5rem;
        }
    }

    &:hover{
        img{
            filter: blur(8px) brightness(70%);
            transform: scale(1);
        }

        figcaption{
            top: 50%;
            left: 50%;
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

        

}

#customer .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        filter: brightness(80%);
    }
}
/* Customer End */